<%- include('./layout/header.ejs')%>
    <div class="container hero-list">
      <a class="btn btn-success pull-right" href="./add">添加英雄</a>
      <table class="table table-hover">
        <thead>
          <th>编号</th>
          <th>名称</th>
          <th>性别</th>
          <th>年龄</th>
          <th>地址</th>
          <th>创建时间</th>
          <th>操作</th>
        </thead>
        <tbody>
         
        </tbody>
      </table>
    </div>
    <%- include('./layout/footer.ejs')%>

<script type='text/html' id='heroList'>
  {{each data}}
  <tr>
    <td>{{$index+1}}</td>
    <td>{{$value.name}}</td>
    <td>{{$value.gender}}</td>
    <td>{{$value.age}}</td>
    <td>{{$value.address}}</td>
    <td>{{$value.ctime}}</td>
    <td>
      <a href="./info?id={{$value.id}}">查看</a>
      <a href="./edit?id={{$value.id}}">编辑</a>
      <a href="javascript:void(0)" data-id='{{$value.id}}' class="btn-del">删除</a>
    </td>
  </tr>
  {{/each}}
</script>
<script>
$(function(){
//主页数据渲染
load()
function load() {
  $.get({
    url:'/getAllheroInfo',
    success:function(res){
      $('tbody').html(template('heroList',res))
    }
  })
}

//删除英雄数据
$('tbody').on('click','.btn-del',function(){
      if(confirm('你确定要删除吗')){
        $.get({
          url:'deieteOneHero',
          data:{
            id:$(this).data('id')
          },
          success:function(res){
           if(res.code===200){
            load()
           }
          }
        })
      }
      
})

})



</script>
