<%- include('./layout/header.ejs')%>
<div class="container hero-list"> </div>
<%- include('./layout/footer.ejs')%>


<script type="text/html" id="oneHero">

  <p><strong>Id:</strong>{{id}}</p>
  <p><strong>姓名:</strong>{{name}}</p>
  <p><strong>性别:</strong>{{gender}}</p>
  <p><strong>年龄:</strong>{{age}}</p>
  <p><strong>添加时间:</strong>{{date}}</p>
  <p><strong>地址:</strong>{{address}}</p>


</script>



<script>
  $.get({
    url:'/getOneHero',
    data:{id:location.search.substring(4)},
    success:function(res){
      console.log(res);
      
      $('.hero-list').html(template('oneHero',res.data[0]))
    }
  })


</script>